.active{
    position: absolute;
    left:68%;
    top:10%;
}
.abt{
    position: absolute;
    left:75%;
}
.prtflo{
    position: absolute;
    left:82%;
}
.cntct{
 position: absolute;
 left:90%;
}
.hii{
    font-size: 50px;
    color:gray;
    position: absolute;
    top:40%;
    left:28%;
}
.name{
    font-size:65px;
    color:rgb(120, 166, 182);
    font-weight:bolder ;
    position: absolute;
    top:47%;
    left:28%;
}
.dvlpr{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 13px;
    color: rgb(200, 120, 120);
    position: absolute;
    top:59%;
    left:28%;
}
.bttn{
    background-color: blue;
    border:none;
    padding:4px 6px;
    color:white;
    border-radius: 15px;
    position: absolute;
    top:65%;
    left:28%;
}
.img{
    position: absolute;
    left:55%;
    top:23%;
}
.nvbr{
    background-color: black;
    height:200px;
    position: absolute;
    top:3800%;

}

